.homePage {
    background-color: rgba(206, 202, 209, 0.411);
}
.aboutPage {
    background-color: rgb(211, 208, 235);
}
.classyNav {
    display: inline;
}
.contactForm {
    display: inline-block;
    border: solid .05em;
    padding: 1em;
}
.singleInput {
    margin: .5em;
    width: 15em;
}